<nb-card>
  <nb-card-header>User profile</nb-card-header>
  <nb-card-body *ngIf="!loading && error">
    <h3 class="text-danger">{{error.message}}</h3>
  </nb-card-body>
  <nb-card-body *ngIf="!loading && !error">
    <div class="row">
      <div class="col-xxxl-3 col-md-6">
        <ngx-switch-edit [title]="editButton.title"
                         [type]="editButton.type"
                         [on]="editButton.on"
                         (click)="editButton.on = !editButton.on"
                         nbPopover="Clique para ativar/desativar" nbPopoverMode="hover">
          <i [ngClass]="editButton.iconClass"></i>
        </ngx-switch-edit>
      </div>
      <div class="col-xxxl-4 col-md-2">
        <nb-card>
        <nb-actions size="large" [fullWidth]="true">
          <nb-action
            icon="nb-locked"
            badgeStatus="primary"
            nbPopover="Clique para alterar a senha"
            nbPopoverMode="hover">
          </nb-action>
        </nb-actions>
          <p class="text-center">Alterar senha</p>
        </nb-card>
      </div>
    </div>
    <form novalidate class="ng-untouched ng-pristine ng-valid">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputNome">Nome completo</label>
        <div class="col-sm-10 col-md-7 col-lg-4">
          <input class="form-control"
                 id="inputNome"
                 #nome="ngModel"
                 [(ngModel)]="user.profile.nome"
                 placeholder="{{user.profile.nome}}"
                 name="profile.nome"
                 type="text"
                 disabled="{{!editButton.on}}"
                 [ngClass]="{'profile-enabled': editButton.on,
                              'profile-disabled': !editButton.on}"
                 required>
          <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
               class="alert alert-danger">

            <div *ngIf="nome.errors.required">
              Name is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputEmail">Email</label>
        <div class="col-sm-10 col-md-6 col-lg-3">
          <input class="form-control" #email="ngModel" id="inputEmail" [(ngModel)]="user.email"
                 placeholder="{{user.email}}" name="email" type="email" disabled="{{!editButton.on}}"
                 [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                 required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">

            <div *ngIf="email.errors.required">
              Email is required.
            </div>
          </div></div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputCpf">CPF</label>
        <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3"><input class="form-control" #cpf="ngModel" id="inputCpf"
                                                        [(ngModel)]="user.profile.cpf"
                                                        placeholder="{{user.profile.cpf}}" name="profile.cpf"
                                                        type="text" disabled="{{!editButton.on}}"
                                                        [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                 required>
          <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)"
               class="alert alert-danger">

            <div *ngIf="cpf.errors.required">
              CPF is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputCpf">Gênero</label>
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2"><input class="form-control" #genero="ngModel" id="inputGenero"
                                                                [(ngModel)]="user.profile.genero"
                                                                placeholder="{{user.profile.genero}}"
                                                                name="profile.genero" type="text"
                                                                disabled="{{!editButton.on}}"
                                                                [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="genero.invalid && (genero.dirty || genero.touched)"
               class="alert alert-danger">

            <div *ngIf="genero.errors.required">
              Gender is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputCpf">Título</label>
        <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2"><input class="form-control" #titulo="ngModel" id="inputTitulo"
                                                                [(ngModel)]="user.profile.titulo"
                                                                placeholder="{{user.profile.titulo}}"
                                                                name="profile.titulo" type="text"
                                                                disabled="{{!editButton.on}}"
                                                                [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
               class="alert alert-danger">

            <div *ngIf="titulo.errors.required">
              Title is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputCpf">Profissão</label>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-3"><input class="form-control" #profissao="ngModel" id="inputProfissao"
                                     [(ngModel)]="user.profile.profissao"
                                     placeholder="{{user.profile.profissao}}" name="profile.profissao" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="profissao.invalid && (profissao.dirty || profissao.touched)"
               class="alert alert-danger">

            <div *ngIf="profissao.errors.required">
              Job is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputCpf">Empresa</label>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-3"><input class="form-control" #empresa="ngModel" id="inputEmpresa"
                                     [(ngModel)]="user.profile.empresa"
                                     placeholder="{{user.profile.empresa}}" name="profile.empresa" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)"
               class="alert alert-danger">

            <div *ngIf="empresa.errors.required">
              Workplace/Instituition is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputNascimento">Nascimento</label>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-2"><input class="form-control" #nascimento="ngModel" id="inputNascimento"
                                     [(ngModel)]="user.profile.nascimento"
                                     placeholder="{{user.profile.nascimento}}" name="profile.nascimento" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="nascimento.invalid && (nascimento.dirty || nascimento.touched)"
               class="alert alert-danger">

            <div *ngIf="nascimento.errors.required">
              Birthdate is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputRgnum">RG - Número</label>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"><input class="form-control" #rg_num="ngModel" id="inputRgnum"
                                     [(ngModel)]="user.profile.rg_num"
                                     placeholder="{{user.profile.rg_num}}" name="profile.rg_num" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="rg_num.invalid && (rg_num.dirty || rg_num.touched)"
               class="alert alert-danger">

            <div *ngIf="rg_num.errors.required">
              Id number is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputRgexpeditor">RG - Expeditor</label>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"><input class="form-control" #rg_expeditor="ngModel" id="inputRgexpeditor"
                                     [(ngModel)]="user.profile.rg_expeditor"
                                     placeholder="{{user.profile.rg_expeditor}}" name="profile.rg_exp" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="rg_expeditor.invalid && (rg_expeditor.dirty || eg_expeditor.touched)"
               class="alert alert-danger">

            <div *ngIf="rg_expeditor.errors.required">
              Id issuer is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputRgestado">RG - Estado</label>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"><input class="form-control" #rg_estado="ngModel" id="inputRgestado"
                                     [(ngModel)]="user.profile.rg_estado"
                                     placeholder="{{user.profile.rg_estado}}" name="profile.rg_estado" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="rg_estado.invalid && (rg_estado.dirty || rg_estado.touched)"
               class="alert alert-danger">

            <div *ngIf="rg_estado.errors.required">
              Id State is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputCep">CEP</label>
        <div class="col-xs-4 col-sm-5 col-md-3 col-lg-2"><input class="form-control" #cep="ngModel" id="inputCep" [(ngModel)]="user.profile.cep"
                                     placeholder="{{user.profile.cep}}" name="profile.cep" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="cep.invalid && (cep.dirty || cep.touched)"
               class="alert alert-danger">

            <div *ngIf="cep.errors.required">
              Zip Code is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputLogradouro">Logradouro</label>
        <div class="col-sm-10 col-md-7 col-lg-4"><input class="form-control" #logradouro="ngModel" id="inputLogradouro"
                                     [(ngModel)]="user.profile.logradouro"
                                     placeholder="{{user.profile.logradouro}}" name="profile.logradouro" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                        required>
          <div *ngIf="logradouro.invalid && (logradouro.dirty || logradouro.touched)"
               class="alert alert-danger">

            <div *ngIf="logradouro.errors.required">
              Streetname is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputNumero">Número</label>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"><input class="form-control" #numero="ngModel" id="inputNumero"
                                     [(ngModel)]="user.profile.numero"
                                     placeholder="{{user.profile.numero}}" name="profile.numero" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="numero.invalid && (numero.dirty || numero.touched)"
               class="alert alert-danger">

            <div *ngIf="numero.errors.required">
              Number is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputComplemento">Complemento</label>
        <div class="col-xs-4 col-sm-5 col-md-3 col-lg-2"><input class="form-control" #complemento="ngModel" id="inputComplemento"
                                     [(ngModel)]="user.profile.complemento"
                                     placeholder="{{user.profile.complemento}}" name="profile.complemento" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}">
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputBairro">Bairro</label>
        <div class="col-xs-4 col-sm-5 col-md-3 col-lg-2"><input class="form-control" #bairro="ngModel" id="inputBairro"
                                     [(ngModel)]="user.profile.bairro"
                                     placeholder="{{user.profile.bairro}}" name="profile.bairro" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="bairro.invalid && (bairro.dirty || bairro.touched)"
               class="alert alert-danger">

            <div *ngIf="bairro.errors.required">
              Neighborhood name is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputCidade">Cidade</label>
        <div class="col-xs-4 col-sm-5 col-md-5 col-lg-3"><input class="form-control" #cidade="ngModel" id="inputCidade"
                                     [(ngModel)]="user.profile.cidade"
                                     placeholder="{{user.profile.cidade}}" name="profile.cidade" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}"
                                                                required>
          <div *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)"
               class="alert alert-danger">

            <div *ngIf="cidade.errors.required">
              City is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputEstado">Estado</label>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"><input class="form-control" #estado="ngModel" id="inputEstado"
                                     [(ngModel)]="user.profile.estado"
                                     placeholder="{{user.profile.estado}}" name="profile.estado" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}" required>
          <div *ngIf="estado.invalid && (estado.dirty || estado.touched)"
               class="alert alert-danger">

            <div *ngIf="estado.errors.required">
              State is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputPais">País</label>
        <div class="col-xs-4 col-sm-5 col-md-3 col-lg-3"><input class="form-control" #pais="ngModel" id="inputPais" [(ngModel)]="user.profile.pais"
                                     placeholder="{{user.profile.pais}}" name="profile.pais" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}" required>
          <div *ngIf="pais.invalid && (pais.dirty || pais.touched)"
               class="alert alert-danger">

            <div *ngIf="pais.errors.required">
              País is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputTelefone">Telefone</label>
        <div class="col-xs-4 col-sm-5 col-md-4 col-lg-3"><input class="form-control" #telefone="ngModel" id="inputTelefone"
                                     [(ngModel)]="user.profile.telefone"
                                     placeholder="{{user.profile.telefone}}" name="profile.telefone" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}" required>
          <div *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)"
               class="alert alert-danger">

            <div *ngIf="telefone.errors.required">
              Phone number is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"
               for="inputTelefoneAlt">Telefone alternativo</label>
        <div class="col-xs-4 col-sm-5 col-md-4 col-lg-3"><input class="form-control" #telefone_alt="ngModel" id="inputTelefoneAlt"
                                     [(ngModel)]="user.profile.telefone_alt"
                                     placeholder="{{user.profile.telefone_alt}}" name="profile.telefone_alt" type="text"
                                     disabled="{{!editButton.on}}"
                                     [ngClass]="{'profile-enabled': editButton.on, 'profile-disabled': !editButton.on}" required>
          <div *ngIf="telefone_alt.invalid && (telefone_alt.dirty || telefone_alt.touched)"
               class="alert alert-danger">

            <div *ngIf="telefone_alt.errors.required">
              Alternative phone number is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button class="btn btn-hero-success" type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>Card footer</nb-card-footer>
</nb-card>
<nb-card-body>
