<div class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Easy <span>Congress</span></div>
  </div>
 <!-- <ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<div class="header-container">

  <!--<ngx-layout-direction-switcher></ngx-layout-direction-switcher>-->
  <nb-actions size="medium">
  <!--  <nb-action *nbIsGranted="['view', 'user']" >-->

  <!--  </nb-action>-->
    <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
    <nb-action class="control-item" icon="nb-email"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>
    <nb-action>
      <nb-card-body>

        <nb-user size="middle"
                 [nbContextMenu]="userMenu"
                 [name]="user?.profile?.nome"
                 [title]="user?.email">
        </nb-user>

      </nb-card-body>
    </nb-action>
  </nb-actions>
</div>
