<nb-layout center>
  <nb-layout-header>Awesome Company</nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <img [src]="images[0]" width="800" height="600" alt="Random first slide">
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img [src]="images[1]" width="800" height="600"  alt="Random second slide">
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img [src]="images[2]" width="800" height="600"  alt="Random third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
        <h3>Hello World!</h3>
        <p>Welcome.</p>
        <a href="#" routerLink="/auth/login"><h3>Go to login page</h3></a>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>

<nb-layout center>
  <nb-layout-column>
    <nb-tabset>
      <nb-tab tabTitle="Simple Tab #1">
        Tab content 1
      </nb-tab>
      <nb-tab tabTitle="Simple Tab #2">
        Tab content 2
      </nb-tab>
    </nb-tabset>
    <h3>Hello world again!</h3>
      <p>This is a website.</p>
      <nb-card>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
      </nb-card>
  </nb-layout-column>
  <nb-layout-footer>Say goodbye now</nb-layout-footer>
</nb-layout>
